<!DOCTYPE html>
<html>
<head>
	<title>Layout Website</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="menu.css">
</head>
<body>
<div id="container" class="clearfix">
<div >

	<div id="header" class="clearfix">
		<img src="img.png" width="300px">
		<p><a href="#">LOGO WEBSITE</a></p>
	</div>

	<div id="menu">
		
			<li><a href="#">Home</a></li>
			<li><a href="#">Portofolio</a>
				<ul>
					<li><a href="#">Students</a></li>
					<li><a href="#">Teachers</a></li>
					<li><a href="#">Offices</a></li>
				</ul>
			</li>
			<li><a href="#">Library</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">About Us</a></li>
		
	</div>

	<div id="box-content">
		
		<div id="content">

			<div class="konten">
				<div class="picture">
				</div>
				<div class="diskripsi">
					<b>This is a Lorem Ipsum Heading</b>
					<p>Sed non mauris  vitao erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo</p>

					<a href="#">Read More</a>
				</div>
				<hr>
			</div>
			<div class="konten">
				<div class="picture">
				</div>
				<div class="diskripsi">
					<b>This is a Lorem Ipsum Heading</b>
					<p>Sed non mauris  vitao erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo</p>

					<a href="#">Read More</a>
				</div>
				<hr>
			</div>
			<div class="konten">
				<div class="picture">
				</div>
				<div class="diskripsi">
					<b>This is a Lorem Ipsum Heading</b>
					<p>Sed non mauris  vitao erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo</p>

					<a href="#">Read More</a>
				</div>
				<hr>
			</div>

		</div>

		<div id="sidebar">
			<p><b>Sidebar Links</b></p>
			<hr width="100%">
			<div id="side-link">
				<li><a href="#"><p style="line-height: 10px">Link 1 : Lorem Header</p></a></li>
				<li><a href="#"><p style="line-height: 10px">Link 2 : Lorem Icon</p></a></li>
				<li><a href="#"><p style="line-height: 10px">Link 3 : Lorem Paragraph</p></a></li>
				<li><a href="#"><p style="line-height: 10px">Link 4 : Lorem Website</p></a></li>
			</div><br>
			<p><b>Other Widgets</b></p>
			<hr width="100%">
			<p style="font-size: 15px;">
				This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenen solliciudin, lorem quis bibondum auctor, nini elit, consequat ipsum, nec sagittis sem nibh id elit<br><br>
				Duis sed odo sit amet nibh vulputate curcus a sit amet mauris.
			</p>
		</div>

	</div>

	<div id="footer">
		<p>Copyright <a href="#">Yoursite</a>. All right reserved.</p>
	</div>

</div>
</div>
</body>
</html>